.search {
  display: grid;
  position: relative;
  grid-template-columns: 10% 80%;
  align-items: center;
}

.search__button {
  display: grid;
  justify-items: left;
  height: 44px;
  width: 44px;
  border: 0;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s all ease;
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  background: url('/src/img/ico-search-gray.svg') no-repeat;
  background-size: 22px;
  background-position: center;
}

.search__button__active {
  display: grid;
  justify-items: left;
  height: 44px;
  width: 44px;
  border: 0;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s all ease;
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  background: url('/src/img/ico-close-button-grey.svg') no-repeat;
  background-size: 22px;
  background-position: center;
  border-radius: 5px;
  box-shadow: 4px 4px 8px #686262, -4px -4px 8px #ffffff;
  transform: rotate(90deg);
}

.search__input {
  padding: 10px;
  height: 44px;
  border: 0;
  transform: scale(0);
  transition: 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.search__input__active-input:focus {
  outline: none;
  height: 44px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px #686262, -4px -4px 8px #ffffff;
}

.search__input__active-input {
  padding: 10px;
  border: 0;
  align-items: center;
  font-size: 1rem;
  transform: scale(1);
  transition: 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
