
*, ::before, ::after {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.navbar {
  padding: 20px;
  display: grid;
  justify-items: left;
  border-bottom: 1px solid #f2f2f2;
  font-size: 1em;
  z-index: 1;
  background-color: white;
}

.navbar .links {
  margin-left: 0px;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 10px;
}

.content {
  display: grid;
  height: 85vh;
  padding: 10px 0px 10px 0px;
  grid-template-rows:  0.05fr 1fr .1fr;
}

.match:hover, .leagues-item:hover, .teams-item:hover, .team:hover {
  background-color: #eee;
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}

.crest {
  display: block;
  margin-left: auto;
  margin-right: auto
}

span {
  display: inline-block;
  /* padding: 10px; */
   /* margin: 10px; */
}

.active {
  color: #f1356d;
  /* cursor: pointer; */
}

.pagination-container, .pagination-item {
  display: flex;
  justify-content: center;
 
}

.loading {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  height: 80vh;
  width: 80vw;
  opacity: 0.5;
  background: url('/src/img/icon-loader.gif') no-repeat;
  background-position: center;
  background-size: 50px 50px;
}

.error {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  height: 80vh;
  width: 80vw;
  background: url('/src/img/icons-error.gif') no-repeat;
  background-position: center;
  background-size: 50px 50px;
}