.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.leagues-calendar, .leagues-item, .teams-item, .teams-calendar {
  font-size: 20px;
  color: #332429;
  border-bottom: 1px solid #fafafa;
  border-top: 1px solid #fafafa;
  cursor: pointer;
  align-items: center;

}

.leagues-item a, .teams-item a {
  text-decoration: none;
  display: block;

}

.match:hover, .leagues-item:hover, .teams-item:hover, .team:hover {
  background-color: #eee;
}

.crest {
  display: block;
  margin-left: auto;
  margin-right: auto
}

span {
  display: inline-block;
  /* padding: 10px; */
   /* margin: 10px; */
}

.active {
  color: #f1356d;
  /* cursor: pointer; */
}


.pagination-container, .pagination-item {
  display: flex;
  justify-content: center;
 
}

.pagination-item {
  
}